## IC customer profiling 2

In [93]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

path = r'C:\Users\User\Instacart Basket Analysis'
df_orders_products_region = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_region.pkl'))

### Grouping and aggregating data

In [99]:
# Grouping, transform, and new column
df_orders_products_region['orders_number'] = df_orders_products_region.groupby(['user_id'])['order_id'].transform('count')

In [46]:
pd.options.display.max_columns = None

In [100]:
df_orders_products_region.columns

Index(['user_id', 'STATE', 'Age', 'n_dependants', 'fam_status', 'income',
       'product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'order_number', 'orders_day_of_the_week',
       'order_hour_of_day', 'days_since_prior_order',
       'days_since_prior_order_Flag', 'add_to_cart_order', 'reordered',
       'max_order', 'loyalty_flag', 'average_price', 'spender_flag',
       'median_freq', 'freq_Flag', '_merge', 'region', 'orders_number'],
      dtype='object')

In [101]:
df_orders_products_region.head()

,user_id,STATE,Age,n_dependants,fam_status,income,product_id,product_name,aisle_id,department_id,prices,order_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,days_since_prior_order_Flag,add_to_cart_order,reordered,max_order,loyalty_flag,average_price,spender_flag,median_freq,freq_Flag,_merge,region,orders_number
0,26711,Missouri,48,3,married,165665,196,Soda,77,7,9.0,2543867,5,1,9,30.0,False,2,0,8,New customer,7.988889,Low spender,19.0,Regular customer,both,Midwest,18
1,26711,Missouri,48,3,married,165665,196,Soda,77,7,9.0,1285508,7,5,15,11.0,False,1,1,8,New customer,7.988889,Low spender,19.0,Regular customer,both,Midwest,18
2,26711,Missouri,48,3,married,165665,196,Soda,77,7,9.0,2578584,8,1,15,10.0,False,2,1,8,New customer,7.988889,Low spender,19.0,Regular customer,both,Midwest,18
3,26711,Missouri,48,3,married,165665,6184,Clementines,32,4,4.3,518967,1,2,9,NaN,True,1,0,8,New customer,7.988889,Low spender,19.0,Regular customer,both,Midwest,18
4,26711,Missouri,48,3,married,165665,6184,Clementines,32,4,4.3,2524893,3,3,11,30.0,False,2,1,8,New customer,7.988889,Low spender,19.0,Regular customer,both,Midwest,18

### Flags for low-activity customers

In [102]:
df_orders_products_region.loc[df_orders_products_region['orders_number'] < 5, 'exclusion flag'] = 'Low-activity'

In [103]:
df_orders_products_region.loc[df_orders_products_region['orders_number'] >= 5, 'exclusion flag'] = 'High-activity'

In [104]:
df_orders_products_region['exclusion flag'].value_counts(dropna=False)

exclusion flag
High-activity    32401975
Low-activity         2884
Name: count, dtype: int64

In [106]:
# remove rows using the drop() function
df_orders_products_region.drop(df_orders_products_region.index[df_orders_products_region['exclusion flag'] == 'Low-activity'], inplace=True)

In [107]:
df_orders_products_region.shape

(32401975, 29)

### I deleted all rows with Low-activity flags. Next, I will drop the extra columns

In [108]:
df_orders_products_region = df_orders_products_region.drop(columns = ['exclusion flag', 'orders_number', '_merge'])

In [109]:
df_orders_products_region.shape

(32401975, 26)

In [110]:
# Export file
df_orders_products_region.to_pickle(os.path.join(path, '02 Data','Prepared Data', '4_10_2_orders_products_region_NoLowAct.pkl'))